body {
    background: #181E34;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400px;
    line-height: 150%;
    color: #fff;
}

.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.header-inear {
    display: flex;
    align-items: center;
    margin-top: 36px;
    max-height: 113px;
    margin-bottom: 32px;
}

.header-nav {
    margin: auto;
}

.header-list {
    display: flex;
}

.header-item {
    margin-right: 32px;
}

.header-button {
    color: #2766AE;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    padding: 14px 30px;
    background: #fff;
    margin-left: -200px;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg") 10% 50% / cover no-repeat;
    padding: 120px 0;
}

.hero-title {
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.hero-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    max-width: 436px;
}

.hero-p-one {
    margin-bottom: 15px;
}

span {
    color: #01A2CB;
    font-weight: 700;
    text-transform: uppercase;
}

.hero-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
}

.hero-button-one,
.hero-button-two {
    display: flex;
    font-weight: 700;
    border-radius: 100px;
    padding: 18px 30px;
    max-width: 320px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.hero-button-one img,
.hero-button-two img {
    margin-left: 4px;
}

.hero-button-one {
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
    margin-bottom: 15px;
}

.hero-button-two {
    background: linear-gradient(129deg, #00a4cc 0%, #2766ae 100%);
}

.cards {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 112px;
    max-width: 900px;
}

.card-title {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
}

.card-card-title {
    font-weight: 600;
    font-size: 22px;
    text-align: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    max-height: 318px;
    max-width: 900px;
    width: 100%;
    margin-bottom: 45px;

}

.card-block-flex {
    border-radius: 16px;
    box-shadow: 4px 4px 13px 0 rgba(5, 13, 41, 0.76);
    background: #197cb8;
    padding: 28px;
    width: 204px;
    height: 141px;
    text-align: center;
    margin: 20px 10px;
}

.cards-card-title {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
}

.card-button {
    display: flex;
    justify-content: center;
}

.cards-button {
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
    border-radius: 100px;
    padding: 18px 30px;
    width: 436px;
    height: 56px;
}
.footer {
    margin: 100px;
}
.footer-text {
    max-width: 250px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: -130px;

}
.footer {
    border-top: 1px solid #323952;
width: 100%;
height: 361px;
}
.footer-da {
    margin-top: 60px;
}
.footer-title {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.footer-contact-menu {
margin-bottom: 24px;
}
.footer-contact-1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: -336px;
margin-right: 183px;
}
