body {
    background:  #181E34;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    font-weight: 1454;
    height: 1843;
}



#logo {
    margin: 10px 250px 0 300px;
}

.header {
    width: 1440px;
    height: 114px;
}

.menu {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin: 25px 34px 0 0;
}

.login {
    display: inline-block;
    background: #fff;
    color: #2766AE;
    max-width: 138px;
    min-width: 50px;
    padding: 17px;
    border-radius: 30px;
    font-size: 20px;
}

.arr {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
    width: 1440px;
    height: 508px;
}

h1 {
    order: 1;
    margin: 70px 70px 67px 7px;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
}

.das {
    margin: 30px 800px 0px 200px;
    order: 2;
    font-weight: 400px;
    line-height: 150%;
    font-size: 16px;
    color: #fff;
}

.help {
    color: #2766AE;
}

.button {
    order: 3;
    margin: -180px 0 -17px 600px;
    border-radius: 100px;
    padding: 18px 30px;
    width: 320px;
    height: 56px;
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
    color: #fff;
}

.button-1 {
    order: 4;
    margin: 50px 0 0px 600px;
    border-radius: 100px;
    padding: 18px 30px;
    width: 320px;
    height: 56px;
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
    color: #fff;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 587px;
    margin-top: 90px;
}

h2 {
    order: 1;
    margin: 0 0 30px 0;
    order: 1;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
}

.asd {
    order: 2;
    width: 700px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    margin-bottom: 60px;
}

.sws {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-wrap: 0;
    width: 900px;
    height: 587px;
    order: 3;
}

h3 {
    margin: 5px;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
}

.sds {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #fff;
    border: 2px solid #176bae;
    border-radius: 16px;
    padding: 28px;
    width: 204px;
    height: 141px;
    box-shadow: 4px 4px 13px 0 rgba(5, 13, 41, 0.76);
    background: #197cb8;
    margin: 0px 15px 0 0;
}

.button-2 {
    order: 4;
    border-radius: 100px;
    padding: 18px 30px;
    width: 320px;
    height: 56px;
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
    color: #fff;
}

footer {
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    border-top: 1px solid #323952;
    width: 1440px;
    height: 361px;
}

.end {
    justify-content: center;
    width: 267px;
    height: 159px;
}

.logo-1 {
    margin: 140px 0 0 350px;
}

.kod {
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    margin: 15px 0px 0px 350px;
    width: 243px;
    height: 121px;
}

.li {
    margin: 150px 100px 0 600px;
}

.number-1 {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    margin: 150px 100px -120px 600px;
}
.li {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color:#fff;
    margin-bottom: -140px;
}

.number-2 {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    margin: 0px 100px -120px 0px;
}
.li-1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color:#fff;
    margin-bottom: -130px;
    margin: 150px 100px -140px 0px;
}