body {
    font-size: 19px
}

* {
    box-sizing: border-box;
}

.block {
    background: #a5d1ec;
    max-width: 950px;
    height: 400px;
    overflow: auto;
    border-radius: 40px 0 0 40px
}

.block-h2 {
    background: #cfa668;
    display: inline-block;
    margin: 5px;
    padding: 22px;
    width: 210px;
    border-radius: 30px;
    -webkit-box-shadow: 20px 10px 22px -3px rgba(74, 122, 26, 0.29) inset;
    -moz-box-shadow: 20px 10px 22px -3px rgba(74, 122, 26, 0.29) inset;
    box-shadow: 20px 10px 22px -3px rgba(74, 122, 26, 0.29) inset;

}

#op {
    color: black;
}