div {
    background: #363636;
    color: #ffffff;
}
span {
    color: aquamarine;
}
.block {
    background: #f000a0;
    color: black;
}
.reg{
background: #ff0000;
}
.element {
color: #791f81 ;
background: #ff7dd4;
}
.popitka {
background: #f000a0;
    color: black;
}