:root {
    --general-color-text: #312C27;
    --accent-color-text: #1F1711;
    --general-color-bg: #FFF9F4;
    --accent-color-bg: #FFE0CB;
    --accent-color: #FFA55C;
    --transition: all .4s;
    --border-radius: 20px;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    color: var(--general-color-text);
    background: var(--general-color-bg);
}

.body--open-menu {
    overflow-y: hidden;
}

.body--opened-modal {
    overflow-y: hidden;
}


.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.main__myinfo {
    padding: 140px 0px;
}

.title {
    font-family: 'Gabriola';
    font-weight: 400;
    font-size: 74px;
    line-height: 82%;
    color: var(--accent-color-text);
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .4s;
    background: var(--accent-color);
    border-radius: 60px;

    height: 62px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 3px 15px;
}

.button:hover {
    transition: background .4s;
    background: #FF9138;
}

/* ======================================== */

.modal {
    position: fixed;
    inset: 0;
    background: #00000077;
    padding: 15px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
    overflow-y: hidden;
}

.modal__window {
    position: relative;
    background: var(--general-color-bg);
    border-radius: var(--border-radius);
    padding: 0 60px 60px;
    max-width: 428px;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ffffff00;
}

.modal__close path,
.modal__close rect {
    transition: var(--transition);
}

.modal__close:hover path,
.modal__close:hover rect {
    transition: var(--transition);
    stroke: #AC907A;
}

.modal__img {
    margin: -65px 0px 15px 13px;
    max-width: 100%;
}

.modal__title {
    margin-bottom: 10px;
    font-family: 'Gabriola';
    font-weight: 400;
    font-size: 42px;
    line-height: 90%;
    color: var(--accent-color-text);
}

.modal__text {
    margin-bottom: 30px;
}



.modal__form-label {
    margin-bottom: 10px;
}

.field {
    display: block;
    position: relative;
}

.field span {
    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;
    color: #AC907A;
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
}

.field__input {
    display: block;
    width: 100%;
    background: #00000000;
    border: 1px solid #AC907A;
    border-radius: 100px;
    padding: 19px 42px 19px 28px;
    font-size: 16px;
    transition: var(--transition);
}

.field__input:hover {
    transition: var(--transition);
    border-color: var(--accent-color);
}

.field__input::placeholder {
    transition: var(--transition);
    color: #AC907A;
}

.field__input:hover::placeholder {
    transition: var(--transition);
    color: var(--accent-color);
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;
}

.field__input:focus {
    padding: 26px 42px 12px 28px;
}


/* ===================================== */
.burger {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger span,
.burger span::before,
.burger span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-color-text);
    transition: var(--transition);
}

.burger span {
    position: relative;
}

.burger span::before,
.burger span::after {
    content: '';
    position: absolute;
}

.burger span::before {
    top: -8px;
}

.burger span::after {
    bottom: -8px;
}

.header {
    background: url("../img/decor/header_bg.png") 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.header__logo {
    max-width: 174px;
    z-index: 11;
}



.header__top-inner {
    display: flex;
    align-items: end;
    justify-content: space-between;
}


.nav__list {
    display: flex;
    gap: 4vh 40px;
}


.nav__list-link {
    display: block;
    padding: 5px;
    position: relative;
    z-index: 1;
}

.nav__list-link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;
    z-index: -1;
    transition: opacity .4s;
    opacity: 0;
}

.nav__list-link:hover::before {
    transition: opacity .4s;
    opacity: 1;
}


.body--open-menu .burger span {
    background: transparent;
}

.body--open-menu .burger span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--open-menu .burger span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

.header__hero-section {
    padding: 50px 0 140px;
}

/* ============================ */


.hero-section__inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 30px;
}

.hero-section__content {
    max-width: 520px;
}

.hero-section__info {
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    color: #B197B2;
    line-height: 1.6;
    margin-bottom: 20px;

}

.hero-section__info span {
    display: flex;
    align-items: center;
}

.hero-section__info span::after {
    content: '';
    display: block;
    background: #B197B2;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.hero-section__info span:last-child::after {
    content: none;

}

.hero-section__title {
    margin-bottom: 30px;
}

.hero-section__text {
    margin-bottom: 40px;
    max-width: 360px;
}

.hero-section__button {
    max-width: 360px;
    width: 100%;
}

.hero-section__img {
    margin-right: 247px;
    position: relative;
}

.hero-section__img>img {
    width: 100%;
}

.hero-section__img-play {
    position: absolute;
    bottom: 11%;
    left: calc(100% - 39px);
    display: flex;
    align-items: center;
    max-width: 200px;
    gap: 10px;
    text-align: left;
}

.hero-section__img-play--mobile {
    display: none;
}

.hero-section__img-button {
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: var(--accent-color-bg);
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
}

.hero-section__img-button img {
    padding-left: 9%;
}

.hero-section__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    transition: opacity .4s;
    opacity: 0;
}

.hero-section__img-button:hover::before {

    transition: var(--transition);
    opacity: 1;
}

/* ======================================== */



.myinfo__inner {
    display: grid;
    gap: 40px 54px;
    grid-template-columns: 1fr 1.05fr;
    grid-template-rows: repeat(2, auto);
}

.myinfo__img {
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    grid-row: 1/-1;
}

.myinfo__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}

.myinfo__img-gift {
    background: rgba(149, 123, 151, 0.9);
    border-radius: var(--border-radius);
    position: absolute;
    bottom: 4.7%;
    left: 5%;
    display: flex;
    align-items: center;
    max-width: 300px;
    gap: 10px;
    text-align: left;
    padding: 15px 20px;
    color: var(--general-color-bg);
}

.myinfo__img-button {
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: var(--general-color-bg);
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
}

.myinfo__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border: 1px solid #CEAAD0;
    border-radius: 50%;
    transition: opacity .4s;
    opacity: 0;

}

.myinfo__img-button:hover::before {
    transition: opacity .4s;
    opacity: 1;
}



.myinfo__title {}

.myinfo__title-text {
    margin-bottom: 30px;
}



.myinfo__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

.myinfo__grid_item {
    background: var(--accent-color-bg);
    border-radius: var(--border-radius);
    padding: 29px 24px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.myinfo__grid-img {
    border: 1px solid var(--accent-color-text);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ================================== */

.main__program {
    padding-bottom: 145px;
}

.program {}

.program__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    gap: 30px 15px;
}

.program__heading {}

.program__title {
    margin-bottom: 20px;
}

.title {}

.program__text {}




.program__botton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.program__tab-content {
    margin-bottom: 40px;
}

.progam__action {
    display: grid;
    grid-template: repeat(3, auto)/ 1.65fr 1fr;
    gap: 40px;
    max-width: 501px;
    flex-shrink: 0;
    width: 100%;
}

.program__discount {
    font-size: 20px;
    background: var(--accent-color-bg);
    border-radius: var(--border-radius);
    padding: 40px;
    grid-row: 1 / 3;
}

.program__discont-value {
    font-family: "Gabriola";
    font-size: 74px;
    line-height: .83;
    color: var(--accent-color);
    transform-origin: 0 0;
    margin: 0 0 7px 13%;
    animation: discont-grow .8s linear infinite alternate;
}

@keyframes discont-grow {
    0% {
        transform: scale(1);
        color: var(--accent-color);
    }

    100% {
        transform: translateX(3%) scale(1.1);
        color: #FF9138;
    }

}

.program__discount span {
    font-size: 16px;
    margin-left: 35%;
}

.program__price {}

.program__price-text {
    line-height: 1.6;
    text-transform: uppercase;
    color: #CEAAD0;
    margin-bottom: 5px;
}

.program__price-value {
    font-family: "Gabriola";
    font-weight: 400;
    font-size: 32px;
    line-height: .9;
}

.program__price-value--big {
    font-family: "Gabriola";

    font-size: 50px;

    color: var(--accent-color-text);
}

.program__button {
    grid-column: 1 /-1;
}

.program__img img {
    max-width: 100%;
}

.tab-controls {
    display: flex;
    gap: 26px;
}

.tab-controls__item {}

.tab-controls__link {
    display: block;
    border-radius: 100px;
    padding: 14px 30px;
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);
    transition: var(--transition);
    white-space: nowrap;
}

.tab-controls__link:hover {
    background: var(--accent-color-bg);
}

.tab-controls__link--active {
    background: var(--accent-color-bg);
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0);
    transition: var(--transition);
}

.tab-content {
    display: none;

}

.tab-content--show {
    display: block;
}

.accordion-list {}

.accordion-list__item {
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);
    margin-bottom: 30px;
}

.accordion-list__item:last-child {
    margin-bottom: 40px;
}

.accordion-list__item--opened .accordion-list__control-icon {
    transform: rotate(.25turn);
    background: var(--accent-color);
    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control-icon path {
    fill: #ffffff;
    transition: var(--transition);
}

.accordion-list__control {
    padding: 41px 30px;
    width: 100%;
    background: transparent;
    text-align: left;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-family: 'Gabriola';
    font-size: 42px;
    line-height: .9;
    color: var(--accent-color-text);
    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control {
    padding-bottom: 20px;
}

.accordion-list__control:hover .accordion-list__control-icon {
    transform: rotate(.25turn);
    background: var(--accent-color);
    transition: var(--transition);
}

.accordion-list__control:hover .accordion-list__control-icon path {
    fill: #ffffff;
    transition: var(--transition);
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.accordion-list__item--opened .accordion-content {
    transition: v;
}

.accordion-list__control-title {}

.accordion-list__control-icon {
    border: 1.5px solid var(--accent-color);
    border-radius: 50%;
    min-width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.accordion-list__control-icon svg {
    margin-left: 2px;
}




.accordion-content {
    padding: 0px 30px 40px;
    display: flex;
    gap: 80px;
}

.accordion-content__col:first-child {
    max-width: 507px;
    width: 100%;
}

.accordion-content__title {
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #CEAAD0;
    font-size: 1.6;
}

.accrodion-content__list {}

.accordion-content__iteam {
    margin-bottom: 20px;
    display: flex;
}



.accordion-content__iteam:last-child {
    margin-bottom: 40px;
}

.accordion-content__img {
    border: 1px solid #CEAAD0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    flex-shrink: 0;
}

.accordion-content__text {
    min-width: 274px;

}



/* ================================== */

.footer {
    color: var(--general-color-bg);
    background: #AB8261;
    padding: 60px 0 66px;
}

.footer__inner {
    display: grid;
    gap: 15px;
    grid-template-columns: .9fr .9fr 1.1fr auto;
}

.footer__col:first-child {
    margin-top: -30px;
}

.footer__col-logo {
    display: block;
    max-width: 240px;
}

.footer__col-logo-text img {
    width: 100%;
}

.footer__col-logo-text {
    margin-bottom: 20px;
}


.social {
    line-height: 0;
}

.social-list {
    display: flex;
    gap: 15px;

}


.social__link path {
    transition: var(--transition);
}

.social__link:hover path {
    transition: var(--transition);
    fill: var(--accent-color);
}

.footer__contact-iteam {
    margin-bottom: 10px;
}

.footer__contact-iteam:last-child {
    margin-bottom: 0px;
}

.footer__col-tel {
    margin-bottom: 47px;
}

.footer__col-number {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    transition: var(--transition);
}

.footer__col-number:hover {
    transition: var(--transition);
    color: var(--accent-color);
}

.footer__col-copy {
    color: #DEC5B1;
}

.footer__col-list {
    display: flex;
    flex-direction: column;
    margin-top: -5px;
}

.footer__col-item {
    margin-bottom: 10px;
}

.footer__col-item:last-child {
    margin-bottom: 0px;
}

.footer__col-link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.footer__col-link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;
    z-index: -1;
    transition: opacity .4s;
    opacity: 0;
}

.footer__col-link:hover::before {
    transition: opacity .4s;
    opacity: 1;
}

@media (max-width: 1200px) {
    .hero-section__img {
        margin: 0;
        max-width: 377px;
    }

    .hero-section__img-play {

        position: static;
        max-width: none;
        margin-top: 30px;
    }

    /* ---------------------- */
    .program__top {
        flex-direction: column;
        align-items: stretch;
    }

    /* ---------------------- */
    .footer__inner {
        display: grid;
        gap: 40px 15px;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto auto;
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
        text-align: center;
    }
}

@media (max-width: 1100px) {
    .myinfo__img {
        grid-row: auto;
    }

    .myinfo__grid {
        grid-column: 1/-1;
    }

    .myinfo__body {
        align-self: center;
    }

    /* ------------------ */
    .accordion-list__control {
        font-size: 35px;
        padding: 25px 30px;
    }

    .accordion-content {
        gap: 30px;
    }
}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-color-bg);
        padding: 26vh 15px 30px;
        font-size: 24px;

        transition: var(--transition);
        transform: translateY(50%);
        opacity: 0;
        visibility: hidden;
    }

    .body--open-menu .nav {
        transition: var(--transition);
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .burger {
        display: flex;
    }

    /* --------------------------------- */

    .progam__action {
        grid-template: repeat(3, auto)/ minmax(280px, 1fr) 1fr;
        max-width: none;
    }


    .program_img {
        display: none;
    }

    /* ============================ */

    .footer__inner {
        grid-template: none;
        gap: 0px;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer__col:nth-child(2) {
        margin-bottom: 40px;
    }

    .footer__contact {
        margin-bottom: 10px;
    }
}

@media (max-width: 800px) {
    .hero-section__inner {
        display: flex;
        justify-content: center;
    }

    .hero-section__content {
        min-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;


    }

    .hero-section__img {
        display: none;
    }

    .hero-section__img-play--mobile {
        display: flex;
        margin: 0 0 30px;
    }

    .myinfo__inner {
        grid-template: none;
    }

    .myinfo__img {
        max-width: 500px;
        justify-self: center
    }

    .myinfo__body {
        text-align: center;
    }

    .myinfo__grid {
        grid-template: none;
    }

    /* ----------------------- */
    .tab-controls {
        gap: 15px;
        flex-wrap: wrap;
    }

    .tab-controls__link {
        padding: 6px 20px;
    }

    .accordion-content {
        flex-direction: column;
    }

    .accordion-content__col:first-child {
        max-width: none;
    }

    .accordion-content__text {
        max-width: none;
    }
}

@media (max-width: 600px) {
    .header__hero-section {
        padding-bottom: 80px;
    }

    .myinfo__grid_item {
        padding: 10px 15px;
    }

    .myinfo__grid {
        gap: 15px;
    }

    .myinfo__img-gift {
        left: 0;
        bottom: 0;
        right: 0;
        max-width: none;
        border-radius: 0px;
        padding: 10px 15px;
    }

    .title {
        font-size: 12vw;
    }

    .main__myinfo {
        padding: 60px 0 80px;
    }

    /* ----------------------- */
   .main__program {
    padding: 0 0 80 0px;
   }
    .program__title {
        text-align: center;
    }
    
    .program__top {
        text-align: center;
        margin-bottom: 20px;
    }

    .progam__action {
        grid-template: repeat(3, auto)/ auto auto;
        gap: 15px;
    }

    .program__discount {
        grid-row: auto;
        grid-column: 1 / -1;

        justify-self: center;
    }

    .tab-controls {
        justify-content: center;
    }

    .accordion-list__item {
        margin-bottom: 10px;
    }

    .accordion-list__control {
        font-size: 28px;
        padding: 17px 30px;
    }

    .accordion-list__control-icon {
        min-width: 26px;
        height: 26px;
    }

    .accordion-list__control-icon svg {
        width: 10px;
    }
}

@media (max-width: 450px) {
    .modal__window {
        padding: 0px 15px 46px;
    }

    .modal__title {
        font-size: 35px;
    }

    .modal__img {
        margin: -45px 0px 15px 13px;
        max-width: 50%;
    }

    /* ---------------- */

       .progam__action {
        grid-template: none;
    }
    .program__price {
        text-align: center;
    }
    .accordion-list__control {
        padding: 17px 15px;
    }

    .accordion-content {
        padding: 0 15px 30px;
    }

    .accordion-content__iteam {
        margin-bottom: 10px;
    }

}